/* =========== MOBILE (до 600px) =========== */

/* Галерея превью */
#content .gallery {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90px;
    grid-template-rows: repeat(2, 110px);
    gap: 6px;
  
    overflow-x: auto;
    overflow-y: hidden;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Сайдбар превращается в аккордеон */
  .sidebar {
    width: 100%;
    border: none;
    box-shadow: none;
  }
  