screens/
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Environment files
.env


# Multer temp
.upload_tmp/

# System/OS

# Temporary upload dir
.upload_tmp/

# System

.DS_Store
Thumbs.db


